.grid-container {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
}

.container {
    margin: 0 auto;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
}
.col {
    background-color: yellow;
    margin: 30px;
    
}

.align-items-center {
    justify-content: center;
}

.btn {
    margin: 0 auto;
    padding: 10px;
    border-radius: 8px;
    /* align-items: center; */

}

.bg-green {
    background-color: green;
}

.bg-red {
    background-color: red;
}
.bg-blue {
    background-color: blue;
}

.bg-orange {
    background-color: orange;
}

.line {
    border: solid peru 2px;
    margin: 20px;
}

.text-center {
    text-align: center;
}

.form-group {
    background-color;
    margin: 10px;
}



