body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", "sans serif"
}

main {
    margin-top: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
}

.container {
    margin: 0 auto;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
}
.col {
    border-radius: 10%;
    margin: 30px;
    
}

.bg-yellow {
    background-color: yellow;
}

.align-items-center {
    justify-content: center;
}

.btn {
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    /* align-items: center; */

}

.bg-green {
    background-color: green;
}

.bg-red {
    background-color: red;
}
.bg-blue {
    background-color: blue;
}

.bg-orange {
    background-color: orange;
}

.line {
    border: solid peru 2px;
    margin: 20px;
}

.text-center {
    text-align: center;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
    justify-content: center;
}

.checkbox {
    position: relative;
    left: 150px;
}
.nav-item {
    display: inline;
    padding: 10px;
    text-align: center;
    background-color: #575A5E;


}

.fixed-nav-bar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    opacity: 0.9;
    
}

a {
    text-decoration: none;
    
}


.bg-dark {
    background-color: #575A5E;
}

.text-white {
    color: white;
}

.nav-right {
    padding: 14px 16px;
    text-align: right;
    
    
}

.list-group {
    list-style-type: none;
    
    
}

.list-group-item {
    font-size: 16px;
    opacity: 0.9;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;

    
}

.list-group-item:hover {
    opacity: 1;
}

.shadow {
    box-shadow: 0 0 15px rgba(0,0,0,.25);

}


.display-2 {
    font-size: 35px;
}

.display-3 {
    font-size: 40px;
}



table {
    padding: 5px;
    margin: 10px;
    border-collapse: collapse
    
}

.table-content {
    padding: 10px;
    text-align: center;
}

.table-border {
    border: solid red 2px;
}

.t-row:hover {
    background-color: olivedrab;
}

.grid-container-two {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
}

.grid-item-1 {
    grid-column: 1/3;
    grid-row: 1/3;
    padding: 10px;

}

.grid-item-2 {
    grid-column: 3/4;
    grid-row: 1/5;
    padding: 10px;
}
.grid-item-3 {
   grid-column: 1/2;
   grid-row: 3/5;
   padding: 10px;

}
.grid-item-4 {
    grid-column: 2/3;
    grid-row: 3/5;
    padding: 10px;
}
.bold {
    font-weight: bold;
}
.justify-content-center {
    justify-content: center;
}

.grid-item {
    background-color: lightgrey;
    padding: 1em;
}

img {
    max-width: 100%;
    height: auto;
}

.blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.grid-container.three {
    
}

.grid-1 {
    background-color: yellow;
}

.grid-2 {
    background-color: red;
}

.grid-3 {
    background-color: green;
}

.grid-4 {
    background-color: blue;
}

.grid-5 {
    background-color: orange;
}

.grid-6 {
    background-color: fuchsia;
}